<!DOCTYPE html>
<html lang="es">
	<% include partials/head %>
    <body>
    	<div class="container-fluid">
    		<div class="row">
    			<div class="col-md-12">
    				<p>HELLO</p>
    			</div>
    		</div>
    	</div>
    </body>
</html>